[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
algorithmia = "<2.0,>=1.0.0"
six = "*"
numpy = "*"
scipy = "==1.1.0"
tensorflow = "*"
pillow = "*"
tensorflow-gpu = "==1.2.0"
keras = "*"
ujson = "*"
opencv-python = "*"
flask = "*"
flask-cors = "*"
flasgger = "*"

[dev-packages]

[requires]
python_version = "3.5"
